#search-container {
    position: relative;
    background: none;
    margin-top: 30px;
    border-radius: 0;
    height: 300px;
}

.jumbotron #search-container-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
            rgba(30, 30, 30, 0.7),
            rgba(30, 30, 30, 0.7)
        ),
        url("../../assets/search-background.jpg");
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
}

#search-container-page-name {
    position: absolute;
    color: #f65261;
    top: 5%;
    left: 5%;
    z-index: 10;
}

#search-container-add-movie {
    position: absolute;
    top: 5%;
    right: 5%;
}

#add-movie-button-text {
    color: rgb(246, 82, 97);
    background-color: rgba(85, 85, 85, 0);
}

#add-movie-button {
    background-color: rgba(85, 85, 85, 0.6);
    border-radius: 6px;
    border: 0;
    height: 50px;
    width: 120px;
}

#search-container-find-text {
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 10%;
}

#search-container-search-bar {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 100px;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#search-container-search-bar-input {
    background-color: #424242;
    border-radius: 4px;
    border: 0;
    font-size: 250%;
    opacity: 80%;
    height: 50px;
    width: 80%;
    margin-right: 10px;
}

#search-container-search-bar-button {
    background-color: #f65261;
    border-radius: 6px;
    border: 0;
    color: white;
    height: 50px;
    width: 80px;
}
