body {
    background-color: #555555;
    font-family: Calibri, sans-serif;
    color: #dddddd;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.react-toast-notifications__toast__countdown {
    background-color: #f65261 !important;
}

.react-toast-notifications__toast__icon-wrapper {
    background-color: #f65261 !important;
}

.react-toast-notifications__toast__content {
    background-color: #232323 !important;
    color: #dddddd;
}

.react-toast-notifications__toast__dismiss-button, .react-toast-notifications__toast__dismiss-text {
    background-color: #555555 !important;
    color: #dddddd !important;
    opacity: 1 !important;
}
